{
  "presets": ["@babel/preset-typescript"],
  "plugins": [
    "@babel/plugin-syntax-async-generators",
    "@babel/plugin-transform-modules-commonjs",
    "@babel/plugin-syntax-optional-chaining"
  ]
}
